<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="Paula Bejarano, Félix Gerardo Díaz, Martin D'Orta, Dalma Fernandez"
    />
    <meta
      name="description"
      content="Información de contacto Rolling Fitness"
    />
    <meta
      name="keywords"
      content="contacto, blog fitness, rolling fitness, Tucumán"
    />
    <title>Contacto</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/blog.css" />
    <link rel="stylesheet" href="/css/NavFooterLogin.css" />
    <script
      src="https://kit.fontawesome.com/24cc370bda.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg bg-dark fixed-top navbar-dark d-flex justify-content-center"
      >
        <div class="container-fluid">
          <!--icono-->
          <a class="navbar-brand" href="../index.html">
            <img
              width="225"
              src="../assets/NavFootterLogin/LogoHorizontal.png"
              alt="Logo Rolling Fitness"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav ms-auto me-auto mb-2 mb-lg-0 px-lg-2 px-md-1 d-flex align-items-center"
            >
              <li class="nav-item">
                <a
                  class="nav-link ml-lg-5"
                  aria-current="page"
                  href="../index.html"
                  >INICIO</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/entrenamientos.html"
                  >ENTRENAMIENTO</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/alimentacion.html"
                  >NUTRICION+DIETA</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active text-warning"
                  href="../views/contacto.html"
                  >CONTACTO</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/acercade.html">NOSOTROS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/login.html">
                  <i class="fa-solid fa-user icono_navbar"></i>
                </a>
              </li>
            </ul>

            <form class="d-flex align-items-center" role="search">
              <input
                class="form-control rounded-pill me-2"
                type="search"
                placeholder="Búsqueda"
                aria-label="Búsqueda"
              />

              <a
                class="text-secondary me-3"
                type="submit"
                href="../views/error404.html"
                ><i class="fa-solid fa-magnifying-glass icono_navbar"></i
              ></a>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="d-flex align-items-center bg-dark main_sectionDark mt-4">
        <div class="container text-center text-white">
          <h1 class="main_sectionTitulo_sm">¿En qué podemos ayudarte?</h1>
        </div>
      </section>

      <section class="container mt-1">
        <article class="text-center">
          <h3 class="">Envianos tu consulta:</h3>
          <hr />
        </article>
        <article class="d-flex justify-content-center">
          <div class="col-lg-3 col-md-3 col-sm-2 mx-2" id="main_ContactoImg-sm">
            <img
              id="contacto_img"
              class="w-100 shadow-lg"
              src="../assets/Blog/contacto3.webp"
              alt="Imagen de mujer con mancuenas"
            />
          </div>

          <div
            class="row d-flex justify-content-center align-items-center col-lg-5 col-md-8 col-sm-12 shadow-lg mx-2"
          >
            <article class="col-9" id="main_contactoForm-sm">
              <form action="">
                <div class="mb-3">
                  <label for="InputEmail1" class="form-label"
                    >Correo electrónico
                  </label>
                  <input
                    required
                    type="email"
                    class="form-control shadow rounded-0"
                    id="InputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="InputPassword1" class="form-label"
                    >Contraseña</label
                  >
                  <input
                    required
                    type="password"
                    class="form-control shadow rounded-0"
                    id="InputPassword1"
                  />
                </div>
                <div class="form-f">
                  <div class="mb-3">
                    <label for="FormControlTextarea1" class="form-label"
                      >Mensaje</label
                    >
                    <textarea
                      class="form-control shadow rounded-0"
                      id="FormControlTextarea1"
                      rows="3"
                    ></textarea>
                  </div>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="Check1" />
                  <label class="form-check-label" for="Check1"
                    >Acepto las
                    <a class="text-secondary" href="error404.html"
                      >políticas de privacidad</a
                    >
                  </label>
                </div>
                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-warning rounded-0 shadow my-2"
                    data-bs-toggle="modal"
                    data-bs-target="#Modal"
                  >
                    Enviar
                  </button>
                </div>
                <!-- Modal -->
                <div
                  class="modal fade"
                  id="Modal"
                  tabindex="-1"
                  aria-labelledby="ModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">
                          Comentario enviado!
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Responderemos tu consulta a la brevedad.
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-warning"
                          data-bs-dismiss="modal"
                        >
                          Cerrar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </article>
          </div>
        </article>
      </section>

      <section class="container text-center my-5">
        <h3>También podes contactarnos por nuestras redes sociales</h3>

        <hr class="px-5" />
        <div class="d-flex justify-content-center">
          <a
            class="rounded-circle d-flex justify-content-center align-items-center icono_circulo mx-1 facebook"
            href="https://www.facebook.com"
          >
            <i class="fa-brands fa-facebook-f fa-2x text-white"></i>
          </a>

          <a
            class="rounded-circle d-flex justify-content-center align-items-center icono_circulo mx-1 twitter"
            href="https://www.twitter.com"
          >
            <i class="fa-brands fa-twitter fa-2x text-white"></i>
          </a>
          <a
            class="rounded-circle d-flex justify-content-center align-items-center icono_circulo mx-1 instagram"
            href="https://www.instagram.com"
          >
            <i class="fa-brands fa-instagram fa-2x text-white"></i>
          </a>
        </div>
      </section>

      <section class="container my-5">
        <article class="text-center">
          <h3>Más información</h3>
          <hr class="px-5" />
        </article>
        <div class="d-flex justify-content-center">
          <article class="d-flex flex-wrap">
            <div class="d-flex">
              <div
                class="bg-warning rounded-circle d-flex justify-content-center align-items-center icono_circulo"
              >
                <i class="fa-solid fa-location-dot fa-2x text-white mb-1"></i>
              </div>
              <div class="mx-2">
                <h5>Dirección</h5>
                <p class="text-secondary">
                  General Paz, 574 <br />San Miguel de Tucumán
                </p>
              </div>
            </div>
            <div class="d-flex">
              <div
                class="bg-warning rounded-circle d-flex justify-content-center align-items-center icono_circulo"
              >
                <i class="fa-solid fa-phone fa-2x text-white mb-1"></i>
              </div>
              <div class="mx-2">
                <h5>Teléfono</h5>
                <p class="text-secondary">(+54) 381 987 6543</p>
              </div>
            </div>
            <div class="d-flex">
              <div
                class="bg-warning rounded-circle d-flex justify-content-center align-items-center icono_circulo"
              >
                <i class="fa-solid fa-envelope fa-2x text-white mb-1"></i>
              </div>
              <div class="mx-2">
                <h5>Correo Electrónico</h5>
                <p class="text-secondary">contacto@rollingfitness.com</p>
              </div>
            </div>
          </article>
        </div>

        <article class="d-flex justify-content-center">
          <div class="col-9">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.1128616200313!2d-65.20930798500372!3d-26.83636238316056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225c0ef228d361%3A0x3fec1c90865d763c!2sGral.%20Paz%20574%2C%20T4000BLL%20San%20Miguel%20de%20Tucum%C3%A1n%2C%20Tucum%C3%A1n!5e0!3m2!1ses-419!2sar!4v1660689731745!5m2!1ses-419!2sar"
              class="w-100 shadow-lg"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </article>
      </section>
    </main>
    <footer class="pt-2 pb-1 bg-dark text-secondary">
      <section class="container-fluid">
        <div class="row">
          <article class="col-sm-11 col-md-5 text-center">
            <img
              src="/assets/NavFootterLogin/ROLLING FITNESS PNG FONDO BLANCO.png"
              alt="Logo Rolling Fitness footer"
              class="w-50"
            />
            <div class="RedesFooter mt-1">
              <a class="text-secondary" href="https://www.facebook.com"
                ><i class="fa-brands fa-square-facebook icons"></i
              ></a>
              <a class="text-secondary" href="https://www.twitter.com"
                ><i class="fa-brands fa-square-twitter icons"></i
              ></a>
              <a class="text-secondary" href="https://www.instagram.com"
                ><i class="fa-brands fa-square-instagram icons"></i
              ></a>
              <a class="text-secondary" href="https://www.youtubetube.com"
                ><i class="fa-brands fa-youtube icons"></i
              ></a>
              <a class="text-secondary" href="https://www.linkedin.com"
                ><i class="fa-brands fa-linkedin icons"></i
              ></a>
            </div>
          </article>
          <article class="col-sm-12 col-md-4 mt-2">
            <h6 class=" ">CONTACTO</h6>
            <hr />
            <div class="d-flex align-items-start">
              <div>
                <i
                  class="fa-solid fa-location-dot fa-1x text-secondary mb-1"
                ></i>
              </div>
              <div class="mx-2">
                <p class="mb-1">General Paz, 574</p>
                <p class="mb-3">San Miguel de Tucumán</p>
              </div>
            </div>
            <hr />
            <div class="d-flex align-items-start">
              <div>
                <i class="fa-solid fa-phone fa-1x text-secondary mb-1"></i>
              </div>
              <div class="mx-2">
                <p class="text-secondary">(+54) 381 987 6543</p>
              </div>
            </div>
            <hr />
            <div class="d-flex align-items-start">
              <div>
                <i class="fa-solid fa-envelope fa-1x text-secondary mb-1"></i>
              </div>
              <div class="mx-2">
                <a href="../views/error404.html" class="nav-link mb-1"
                  >contacto@rollingfitness.com</a
                >
              </div>
            </div>
            <hr />
          </article>
          <article class="col-sm-12 col-md-3 mt-2">
            <h6 class="">SECCIONES</h6>
            <hr />
            <a href="../views/entrenamientos.html" class="nav-link"
              >Entrenamiento</a
            >
            <hr />
            <a href="../views/alimentacion.html" class="nav-link"
              >Nutrición+Dieta</a
            >
            <hr />
            <a href="../views/contacto.html" class="nav-link">Contacto</a>
            <hr />
            <a href="../views/acercade.html" class="nav-link">Nosotros</a>
            <hr />
          </article>
        </div>
        <div class="text-center mt-3">
          <p>&copy; Todos los derechos reservados - Rolling Code School 2022</p>
        </div>
      </section>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
