<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="Paula Bejarano, Félix Gerardo Díaz, Martin D'Orta, Dalma Fernandez"
    />
    <meta name="description" content="La Importancia De La Alimentación" />
    <meta
      name="keywords"
      content="alimentación, dieta, proteinas, vegetales, salud"
    />
    <title>La Importancia De La Alimentación</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/blog.css" />
    <link rel="stylesheet" href="/css/NavFooterLogin.css" />

    <script
      src="https://kit.fontawesome.com/24cc370bda.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg bg-dark fixed-top navbar-dark d-flex justify-content-center"
      >
        <div class="container-fluid">
          <!--icono-->
          <a class="navbar-brand" href="../index.html">
            <img
              width="225"
              src="../assets/NavFootterLogin/LogoHorizontal.png"
              alt="Logo Rolling Fitness"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav ms-auto me-auto mb-2 mb-lg-0 px-lg-2 px-md-1 d-flex align-items-center"
            >
              <li class="nav-item">
                <a
                  class="nav-link ml-lg-5"
                  aria-current="page"
                  href="../index.html"
                  >INICIO</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/entrenamientos.html"
                  >ENTRENAMIENTO</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active text-warning"
                  href="../views/alimentacion.html"
                  >NUTRICION+DIETA</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/contacto.html">CONTACTO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/acercade.html">NOSOTROS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/login.html">
                  <i class="fa-solid fa-user icono_navbar"></i>
                </a>
              </li>
            </ul>

            <form class="d-flex align-items-center" role="search">
              <input
                class="form-control rounded-pill me-2"
                type="search"
                placeholder="Búsqueda"
                aria-label="Búsqueda"
              />

              <a
                class="text-secondary me-3"
                type="submit"
                href="../views/error404.html"
                ><i class="fa-solid fa-magnifying-glass icono_navbar"></i
              ></a>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="row">
        <section class="col-lg-9 col-md-12 col-sm-12 my-3">
          <h1 class="mt-5 mb-3">Alimentación saludable</h1>

          <div class="d-flex">
            <a
              class="rounded-circle d-flex justify-content-center align-items-center icono_circulo mx-1"
              href="../views/alimentacion.html"
            >
              <img
                class="w-100 main__section_articlelogos"
                src="../assets/icons/logonutricion.png"
                alt="Logo de nutricion"
              />
            </a>
            <div class="mx-2">
              <h5>Nutrición + Dieta</h5>
              <p class="text-secondary">Abril 2022 | RollingFitness</p>
            </div>
          </div>
        </section>
        <section class="col-lg-9 col-md-12 col-sm-12">
          <article>
            <div class="text-center">
              <img
                class="w-100 mb-3"
                src="../assets/Blog/alimentacion1.webp"
                alt="alimentos variados con vegetales y pescado"
              />
            </div>

            <p>
              La importancia de la alimentación es algo que se ha inculcado a
              toda persona que se dedica al mundo del deporte o desarrolla
              alguna actividad física con el fin de mejorar su estado de forma.
              Los seres humanos obtenemos los nutrientes de los alimentos. Éstos
              nos dan la energía que necesita nuestro organismo para funcionar
              en el día a día.Aunque es muy importante conocer qué vitaminas,
              grasas y azúcares contienen los alimentos que ingerimos, en el
              mundo del deporte de lo que más se suele hablar es de las ya
              conocidas calorías. Son en esencia la unidad de energía que
              necesita nuestro organismo para funcionar y realizar las
              actividades necesarias para el día a día. Se estima que una
              persona adulta debe realizar un consumo de 1900 calorías
              aproximadamente en el caso de las mujeres o de unas 2200 en el
              caso de ser hombre.
            </p>
            <h3 class="my-3">Importancia de la alimentación saludable</h3>
            <p>
              Cuando hablamos o hacemos referencia a la importancia de la
              alimentación saludable debemos entender este concepto como algo
              ligado a nuestro día a día. LLevar unos hábitos de vida saludables
              acompañados de una alimentación correcta nos ayudarán a un pleno
              funcionamiento de las facultades de nuestro organismo. Los
              problemas de consumir alimentos con muchas grasas o aceites pueden
              conllevar enfermedades cardiovasculares. Lo correcto es hacer lo
              propio y evitar las grasas trans, los fritos y la comida basura.
              Llevar a cabo una dieta saludable es muy sencillo, recordar que lo
              que es perjudicial es la cantidad, no la comida en sí. Por ello,
              consumir alimentos que pertenecen a los grupos de alimentos de
              manera variada es clave. Echando un vistazo a esta tabla puedes
              ver y deducir qué alimentos son los más saludables a la hora de
              preparar
            </p>
            <h3 class="my-3">Tabla de grupos de alimentos</h3>
            <div>
              <table class="table table-striped w-75">
                <thead>
                  <tr>
                    <th>Alimento</th>
                    <th>Grupo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Queso, leche</td>
                    <td>Lácteos</td>
                  </tr>
                  <tr>
                    <td>Huevos, carne</td>
                    <td>Proteína animal</td>
                  </tr>
                  <tr>
                    <td>Patatas, legumbres</td>
                    <td>Proteína vegetal</td>
                  </tr>
                  <tr>
                    <td>Tomate, lechuga</td>
                    <td>Frutas y verduras</td>
                  </tr>
                  <tr>
                    <td>Pan, aceites</td>
                    <td>Carbohidratos</td>
                  </tr>
                  <tr>
                    <td>Aceite, mantequilla</td>
                    <td>Grasas</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p class="my-2">
              Los dulces y los alimentos grasos son ricos en calorías lo cual
              puede llevarnos a pensar que eso es positivo puesto que las
              calorías son la energía de nuestro organismo. Pero sin ir más
              lejos de la realidad son calorías vacías, ya que no aportan
              nutrientes o vitaminas esenciales. Y, si no quemamos estas
              calorías extra éstas se acumulan en forma de grasa favoreciendo la
              aparición de la obesidad. En ese aspecto, debemos ser muy
              cuidadosos con lo que le damos de desayunar o merendar a los más
              pequeños. Es cierto que los niños son los más movidos y tienen un
              consumo calórico elevado pero siempre podemos ayudarles
              ofreciéndoles alimentos saludables antes que un dulce procesado.
            </p>
            <hr />
          </article>
          <article class="text-center my-3">
            <h2>Comparte</h2>
            <p>Si te parece intersante este artículo, compártelo:</p>

            <div class="d-flex justify-content-center">
              <a
                class="rounded-circle d-flex justify-content-center align-items-center icono_circulo mx-1 facebook"
                href="https://www.facebook.com"
              >
                <i class="fa-brands fa-facebook-f fa-2x text-white"></i>
              </a>

              <a
                class="rounded-circle d-flex justify-content-center align-items-center icono_circulo mx-1 twitter"
                href="https://www.twitter.com"
              >
                <i class="fa-brands fa-twitter fa-2x text-white"></i>
              </a>
              <a
                class="rounded-circle d-flex justify-content-center align-items-center icono_circulo mx-1 instagram"
                href="https://www.instagram.com"
              >
                <i class="fa-brands fa-instagram fa-2x text-white"></i>
              </a>
            </div>
          </article>
          <article class="p-3 bg-light shadow-lg">
            <h4 class="my-2">Dejanos tu comentario</h4>
            <div class="form-floating">
              <textarea
                class="form-control border-light rounded-0 shadow"
                placeholder="Leave a comment here"
                id="floatingTextarea"
              ></textarea>
              <label for="floatingTextarea">Comentario</label>
            </div>

            <div class="form-group">
              <button
                type="button"
                class="btn btn-warning rounded-0 shadow my-2"
                data-bs-toggle="modal"
                data-bs-target="#Modal"
              >
                Enviar
              </button>
            </div>
            <!-- Modal -->
            <div
              class="modal fade"
              id="Modal"
              tabindex="-1"
              aria-labelledby="ModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">
                      Muchas gracias.
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">Ya enviamos tu comentario!</div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-warning"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="border border-1 p-3 rounded shadow my-3">
            <div class="d-flex">
              <img
                class="img_usuarios"
                src="../assets/Blog/usuario1.jpg"
                alt="Imagen de usuario"
              />
              <div class="mx-2">
                <h5>Micaela Peralta</h5>
                <p class="text-secondary">Julio 2022</p>
              </div>
            </div>
            <p>
              Excelente artículo, la comida saludable no tiene que ser aburrida,
              el secreto está en la variedad.
            </p>
            <div class="d-flex justify-content-end">
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Responder</a
              >
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Borrar</a
              >
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Editar</a
              >
            </div>
          </article>
          <article class="p-3 shadow-lg my-3">
            <div class="d-flex">
              <img
                class="img_usuarios"
                src="../assets/Blog/usuario2.webp"
                alt="Imagen de usuario"
              />
              <div class="mx-2">
                <h5>Sebastián Rojas</h5>
                <p class="text-secondary">Julio 2022</p>
              </div>
            </div>
            <p>
              Muchas gracias. Este post sí que habla de nutrición y de forma
              clara, no enfocado únicamente en perder peso. Me gusta porque lo
              que muestra es sostenible a la larga.
            </p>
            <div class="d-flex justify-content-end">
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Responder</a
              >
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Borrar</a
              >
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Editar</a
              >
            </div>
          </article>
          <article class="p-3 shadow-lg my-3">
            <div class="d-flex">
              <img
                class="img_usuarios"
                src="../assets/Blog/usuario3.jpg"
                alt="Imagen de usuario"
              />
              <div class="mx-2">
                <h5>Victor Pedraza</h5>
                <p class="text-secondary">Julio 2022</p>
              </div>
            </div>
            <p>
              Es muy importante que desde que somos pequeños aprendamos a tener
              una dieta balanceada en donde se incluyan productos tanto de
              origen animal como vegetal, ya que si crecemos con malos hábitos
              alimenticios, después serán mas difíciles de corregir, todo esto
              con la finalidad de evitar enfermedades cardiovasculares a largo
              plazo, como la obesidad o diabetes.
            </p>
            <div class="d-flex justify-content-end">
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Responder</a
              >
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Borrar</a
              >
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Editar</a
              >
            </div>
          </article>
          <article class="p-3 shadow-lg mt-3 mb-5">
            <div class="d-flex">
              <img
                class="img_usuarios"
                src="../assets//Blog/usuario4.jpg"
                alt="Imagen de usuario"
              />
              <div class="mx-2">
                <h5>Sabrina Mendoza</h5>
                <p class="text-secondary">Julio 2022</p>
              </div>
            </div>
            <p>
              La vida del estudiante puede llegar a ser muy estresante, por
              ello, no es de extrañar que la mayoría de jóvenes no dediquen todo
              el tiempo que deberían a cuidarse y llevar a cabo una dieta lo
              suficientemente sana y variada, debemos tomar en cuenta que una
              alimentación equilibrada es fundamental para llevar una vida
              saludable, tener un mayor rendimiento en las clases, ya que ayuda
              a prevenir enfermedades.
            </p>
            <div class="d-flex justify-content-end">
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Responder</a
              >
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Borrar</a
              >
              <a href="error404.html" class="nav-link text-secondary mx-1"
                >Editar</a
              >
            </div>
          </article>
        </section>
        <section class="col-lg-3 col-md-12">
          <article class="border px-3 pb-3 pt-0 shadow-lg mb-3">
            <div class="col-12 bg-warning mt-0 mb-3 text-center">
              <h4>Destacados</h4>
            </div>

            <div class="d-flex flex-wrap justify-content-evenly">
              <div
                class="card col-lg-11 col-md-5 col-sm-5 rounded-0 px-0 border-0 shadow-lg mb-3 card-sm"
              >
                <img
                  src="../assets/Blog/destacados2.webp"
                  class="card-img-top rounded-0"
                  alt="Imagen de desayuno saludable"
                />
                <div class="card-body">
                  <h5 class="card-title">Prepara un menú semanal saludable</h5>
                  <p class="card-text card-text-sm">
                    Disfrutar un menú semanal saludable es clave para verte y
                    sentirte bien...
                  </p>
                  <a
                    href="error404.html"
                    class="btn btn-warning rounded-0 shadow"
                    >VER MÁS</a
                  >
                </div>
              </div>
              <div
                class="card col-lg-11 col-md-5 col-sm-5 rounded-0 px-0 border-0 shadow-lg mb-3 card-sm"
              >
                <img
                  src="../assets/Blog/destacados3.webp"
                  class="card-img-top rounded-0"
                  alt="Imagen de ropa deportiva"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    Qué comer antes y después de hacer ejercicio
                  </h5>
                  <p class="card-text card-text-sm">
                    Tan importante como las actividades que realizas en tu
                    rutina de entrenamiento es la alimentación…
                  </p>
                  <a
                    href="error404.html"
                    class="btn btn-warning rounded-0 shadow"
                    >VER MÁS</a
                  >
                </div>
              </div>
            </div>
          </article>

          <article class="border px-3 pb-3 pt-0 shadow-lg main_articleAnuncios">
            <div class="bg-warning mt-0 mb-3 text-center">
              <h4>Anuncios</h4>
            </div>
            <div class="d-flex flex-wrap justify-content-evenly">
              <img
                class="col-lg-11 col-md-5 shadow-lg mb-3 img_anuncios"
                src="../assets/Blog/publicidad3.png"
                alt="Imagen de publicidad"
              />
              <img
                class="col-lg-11 col-md-5 shadow-lg mb-3 img_anuncios"
                src="../assets/nike/publicidadmassgainer.gif"
                alt="Imagen de publicidad"
              />
            </div>
          </article>
        </section>
      </div>
    </main>
    <footer class="pt-2 pb-1 bg-dark text-secondary">
      <section class="container-fluid">
        <div class="row">
          <article class="col-sm-11 col-md-5 text-center">
            <img
              src="/assets/NavFootterLogin/ROLLING FITNESS PNG FONDO BLANCO.png"
              alt="Logo Rolling Fitness footer"
              class="w-50"
            />
            <div class="RedesFooter mt-1">
              <a class="text-secondary" href="https://www.facebook.com"
                ><i class="fa-brands fa-square-facebook icons"></i
              ></a>
              <a class="text-secondary" href="https://www.twitter.com"
                ><i class="fa-brands fa-square-twitter icons"></i
              ></a>
              <a class="text-secondary" href="https://www.instagram.com"
                ><i class="fa-brands fa-square-instagram icons"></i
              ></a>
              <a class="text-secondary" href="https://www.youtubetube.com"
                ><i class="fa-brands fa-youtube icons"></i
              ></a>
              <a class="text-secondary" href="https://www.linkedin.com"
                ><i class="fa-brands fa-linkedin icons"></i
              ></a>
            </div>
          </article>
          <article class="col-sm-12 col-md-4 mt-2">
            <h6 class=" ">CONTACTO</h6>
            <hr />
            <div class="d-flex align-items-start">
              <div>
                <i
                  class="fa-solid fa-location-dot fa-1x text-secondary mb-1"
                ></i>
              </div>
              <div class="mx-2">
                <p class="mb-1">General Paz, 574</p>
                <p class="mb-3">San Miguel de Tucumán</p>
              </div>
            </div>
            <hr />
            <div class="d-flex align-items-start">
              <div>
                <i class="fa-solid fa-phone fa-1x text-secondary mb-1"></i>
              </div>
              <div class="mx-2">
                <p class="text-secondary">(+54) 381 987 6543</p>
              </div>
            </div>
            <hr />
            <div class="d-flex align-items-start">
              <div>
                <i class="fa-solid fa-envelope fa-1x text-secondary mb-1"></i>
              </div>
              <div class="mx-2">
                <a href="../views/error404.html" class="nav-link mb-1"
                  >contacto@rollingfitness.com</a
                >
              </div>
            </div>
            <hr />
          </article>
          <article class="col-sm-12 col-md-3 mt-2">
            <h6 class="">SECCIONES</h6>
            <hr />
            <a href="../views/entrenamientos.html" class="nav-link"
              >Entrenamiento</a
            >
            <hr />
            <a href="../views/alimentacion.html" class="nav-link"
              >Nutrición+Dieta</a
            >
            <hr />
            <a href="../views/contacto.html" class="nav-link">Contacto</a>
            <hr />
            <a href="../views/acercade.html" class="nav-link">Nosotros</a>
            <hr />
          </article>
        </div>
        <div class="text-center mt-3">
          <p>&copy; Todos los derechos reservados - Rolling Code School 2022</p>
        </div>
      </section>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
